Addition to section about updated protection of CoAP responses with OSCORE

Amend the section describing the update to protection of CoAP responses with OSCORE, according to text below.

OLD:
> The protection of CoAP responses with OSCORE is updated, by adding the following text at the end of step 3 of Section 8.3 of [RFC8613].

NEW:
> The protection of CoAP responses with OSCORE is updated, by adding the following text at the end of step 3 of Section 8.3 of [RFC8613] as well as before the text "Then, go to 4." of Section 8.3.1 of [RFC8613].